body {
    font-family: Arial, sans-serif;
    padding: 1.5em;
}

h1 {
    margin: 0 0 0.25em;
    text-align: center; /* Center the text */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.5em 0;
}

input[type="radio"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

label {
    color: #999;
    display: inline-flex;
    align-items: center;
}

label::before {
    content: '';
    display: block;
    height: 1.25em;
    width: 1.25em;
    border: solid 1px #ccc;
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border ease-in 150ms, box-shadow ease-in 150ms;
}

/* Custom styles for each radio button */
input[type="radio"]:checked#all-categories + label,
input[type="radio"]:focus#all-categories + label {
    color: blue;
}
input[type="radio"]:checked#all-categories + label::before,
input[type="radio"]:focus#all-categories + label::before {
    border-color: blue;
    background: radial-gradient(0.75em circle at center, blue 50%, transparent 55%);
    box-shadow: 0 0 1em 0 rgba(0, 0, 255, 0.75);
}

input[type="radio"]:checked#padi + label,
input[type="radio"]:focus#padi + label {
    color: green;
}
input[type="radio"]:checked#padi + label::before,
input[type="radio"]:focus#padi + label::before {
    border-color: green;
    background: radial-gradient(0.75em circle at center, green 50%, transparent 55%);
    box-shadow: 0 0 1em 0 rgba(0, 255, 0, 0.75);
}

input[type="radio"]:checked#jagung + label,
input[type="radio"]:focus#jagung + label {
    color: #FFD700; /* Darker Yellow */
}
input[type="radio"]:checked#jagung + label::before,
input[type="radio"]:focus#jagung + label::before {
    border-color: #FFD700; /* Darker Yellow */
    background: radial-gradient(0.75em circle at center, #FFD700 50%, transparent 55%);
    box-shadow: 0 0 1em 0 rgba(255, 215, 0, 0.75); /* Adjusted to match darker yellow */
}

input[type="radio"]:checked#tebu + label,
input[type="radio"]:focus#tebu + label {
    color: purple;
}
input[type="radio"]:checked#tebu + label::before,
input[type="radio"]:focus#tebu + label::before {
    border-color: purple;
    background: radial-gradient(0.75em circle at center, purple 50%, transparent 55%);
    box-shadow: 0 0 1em 0 rgba(128, 0, 128, 0.75);
}

input[type="radio"]:checked#kelapa-sawit + label,
input[type="radio"]:focus#kelapa-sawit + label {
    color: teal;
}
input[type="radio"]:checked#kelapa-sawit + label::before,
input[type="radio"]:focus#kelapa-sawit + label::before {
    border-color: teal;
    background: radial-gradient(0.75em circle at center, teal 50%, transparent 55%);
    box-shadow: 0 0 1em 0 rgba(0, 128, 128, 0.75);
}

/* Hide all content by default */
.content > div {
    display: none;
}

/* Show all-categories content by default */
#all-categories-page {
    display: block;
}

.option {
    position: absolute;
    left: 960px;
    padding: 25px;
    padding-top: 25vh;
}

.content .all{
    padding-top: 40vh;
    padding-right: 38vh;
}